pkgbase = llrt-git
	pkgdesc = Lightweight JavaScript runtime, compiler, REPL, and test runner (STANDARD @aws-sdk bundled)
	pkgver = 20251119.093432
	pkgrel = 1
	url = https://github.com/awslabs/llrt
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = cmake
	makedepends = git
	makedepends = llvm-libs>=21.0.0
	makedepends = make
	makedepends = nodejs
	makedepends = parallel
	makedepends = rustup
	makedepends = zig
	makedepends = zstd
	optdepends = typescript: transpiler for TypeScript code with type checking support
	optdepends = esbuild: fast compiler and bundler for JavaScript and TypeScript
	optdepends = swc-js-bin: drop-in replacement for Babel with compilation and polyfill support
	optdepends = bun-bin: fast runtime, compiler, and bundler for JavaScript and TypeScript
	provides = llrt
	conflicts = llrt
	options = !buildflags
	options = !makeflags
	options = !debug
	source = git+https://github.com/awslabs/llrt.git
	sha256sums = SKIP
	source_x86_64 = https://github.com/pnpm/pnpm/releases/download/v10.20.0/pnpm-linuxstatic-x64
	sha256sums_x86_64 = 2acd94b5f7ba284386243609a46863e1438f8ad4dc1a3b8d16ef5a2c0bbfe30e
	source_aarch64 = https://github.com/pnpm/pnpm/releases/download/v10.20.0/pnpm-linuxstatic-arm64
	sha256sums_aarch64 = 5270159a87dba69a48df112ac833172c1269b6242da478d95245317de981fce7

pkgname = llrt-git
